# Configuration file

####################
# "skin config"
####################

""skin config"" {
    ####################
    # sizes
    ####################

    sizes {
        I:BackgroundHeight=60
        I:BackgroundWidth=48
        I:FrameHeight=64
        I:FrameWidth=178
        I:HealthBarHeight=17
        I:HealthBarWidth=112
        I:MobTypeSizeHeight=32
        I:MobTypeSizeWidth=32
        I:NamePlateHeight=12
        I:NamePlateWidth=112
        I:PotionBoxHeight=0
        I:PotionBoxSidesWidth=0
    }

    ####################
    # positions
    ####################

    positions {
        I:BackgroundXOffset=-8
        I:BackgroundYOffset=-4
        I:FrameXOffset=-15
        I:FrameYOffset=-5
        I:HealthBarXOffset=47
        I:HealthBarYOffset=13
        I:MobPreviewOffsetX=-8
        I:MobPreviewOffsetY=0
        I:MobTypeOffsetX=40
        I:MobTypeOffsetY=27
        I:NamePlateXOffset=49
        I:NamePlateYOffset=0
        I:PotionBoxOffsetX=72
        I:PotionBoxOffsetY=31
    }

    ####################
    # ordering
    ####################

    ordering {
        S:BackgroundOrder=1
        I:FrameOrder=4
        I:HealthBarOrder=3
        I:HealthBarTextOrder=8
        I:MobPreviewOrder=2
        I:MobTypeOrder=6
        I:NamePlateOrder=5
        I:NamePlateTextOrder=9
        I:PotionBoxOrder=8
    }

    ####################
    # info
    ####################

    info {
        S:Author=kard
        S:SkinName=JohnSmith-esque
    }

    ####################
    # textsettings
    ####################

    textsettings {
        S:HealthTextColor=FFFFFF
        S:NameTextColor=FFFFFF
    }

}


